{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>

		<!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Central</title>

        <!-- CSS -->


        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/css.css' %}">
        <link rel="stylesheet" href="{% static 'css/stylesidebar.css' %}">
     
  


    </head>

    <body>
      <div class="wrapper" style="background:#201b2c">
	 <nav id="sidebar">
            <div class="sidebar-header" style="#2f2841">
                <h3>Logo do Projeto</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Central</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HIstórico de Amostra</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Variações de temperatura</a>
                        </li>
                        <li>
                            <a href="#">Variações de PH</a>
                        </li>
                       
                    </ul>
                </li>
                <li>
                    <a href="#">Conta</a>
                </li>
                
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light " style="background:#3b3251;">
                <div class="container-fluid">

                    <a type="button" id="sidebarCollapse" class="btn-login" style="width:5em;text-align:center;margin-top:0%;margin-bottom:0%;">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </a>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                    </div>
                </div>
            </nav>
	    <div class="row" style="color:#fff">
			  <div class="col">
			      One of three columns
			      <div class="card-login">
				<h2>Amostra</h2>
				  <p class="text-sm-left">Tempo: <div class="countdown"></div></p>
				  <p class="text-sm-left">Temperatura:  <div class="temperatura"><img src="{% static 'img/celsius.png' %}"></div></p>
				  <p class="text-sm-left">PH: </p>
				  
				
	    <button type="button" class="btn btn-login" data-toggle="modal" data-target="#myModal" style="width:100%;">Iniciar Análise</button>

      <!-- Modal -->
	    <div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
    
		    <!-- Modal content-->
		    <div class="modal-content" style="background:#3b3251">
		      <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" >&times;</button>
			<h4 class="modal-title" style="text-align:center;">Cadastre sua amostra</h4>
		      </div>
		      <div class="modal-body">
			
			<form action="" method="POST">
			  {% csrf_token %}
			
			  {% crispy temperatura %}
			  {% crispy PH %}
			  {% crispy amostra %}
			
			
			  <button class="btn-login" id="botao" data-dismiss="modal">Iniciar</button>
			  
			
			
			  
			
			  
			</form>
			
		      </div>
			
		      <div class="modal-footer">

		      </div>
		     
		    </div>
      
	</div>
    </div>
			      </div>
			  </div>
			  <div class="col">
			      One of three columns
			  </div>
			  <div class="col">
			      One of three columns
			  </div>
		</div>
	</div>
	
	
	
	
    </div>
	
	
	
	      

	        <!-- End content -->

        <!-- Javascript -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/popper.js.map' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  

  
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
	    
	    pausa = true;
	    $('.countdown').hide();
	    $('#botao').click(function(){
		$(".countdown").show();
		
		pausa = false;
		console.log(x);
		var dataModelPython_Amostra_horario_fim = '2022-08-10 22:14:49.550547';

		var ano = dataModelPython_Amostra_horario_fim.slice(0,4);
		var mes = dataModelPython_Amostra_horario_fim.slice(5,7);
		var dia = dataModelPython_Amostra_horario_fim.slice(8,10);
		var horas = dataModelPython_Amostra_horario_fim.slice(11,13);
		var minutos = dataModelPython_Amostra_horario_fim.slice(14,16);
		var segundos = dataModelPython_Amostra_horario_fim.slice(17,19);

		var anoDeStringParaInteiro = parseInt(ano,10);
		var mesDeStringParaInteiro = parseInt(mes,10);
		var diaDeStringParaInteiro = parseInt(dia,10);
		var horasStringParaInteiro = parseInt(horas,10);
		var minutosStringParaInteiro = parseInt(minutos,10);
		var segundosDeStringParaInteiro = parseInt(segundos,10);
		var dataJavaScript = new Date(anoDeStringParaInteiro,mesDeStringParaInteiro,diaDeStringParaInteiro,horasStringParaInteiro,minutosStringParaInteiro,segundosDeStringParaInteiro);
	    
		var x = setInterval(function(){
     
		  if (pausa) clearInterval(x);
	
		  var agora = new Date().getTime();
	
		  var distancia = dataJavaScript - agora;
	
		  var dias = Math.floor(distancia / (1000 * 60 * 60 * 24));
		  var horas = Math.floor((distancia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		  var minutos = Math.floor((distancia % (1000 * 60 * 60)) / (1000 * 60));
		  var segundos = Math.floor((distancia % (1000 * 60)) / 1000);
	 
		  horas = (horas < 10) ? '0' + horas : horas;
		  minutos = (minutos < 10) ? '0' + minutos : minutos;
		  segundos = (segundos < 10) ? '0' + segundos : segundos;
	     
		  $('.countdown').html(horas + ':' + minutos + ':' + segundos);
		  timer2 = horas + ':' + minutos + ':' + segundos;
		  if ((horas <=0) && (segundos <= 0) && (minutos <= 0)) clearInterval(x);
		  
	}, 1000);
  }); 
  
  
  setInterval(temperatura,5000);
  
  function temperatura() {
  $.get("/conecao_temperatura",function(temperatura){
	$('.temperatura').html(temperatura + "°C")  
		}
		
		)};
  
});
	
    </script>
    
  
  
</html>
